###.gitconfig was last modified on September 14, 2022 at 10:29 PM EDT by bms###
[user]
        name = Ben Sutter
        email = 14796185+bms-1984@users.noreply.github.com
        signingkey = 63A85E19824320F45B09CCC9576AB3A75195A3FD
[commit]
        gpgsign = true
[init]
        defaultBranch = master
[pager]
        diff = delta
        log = delta
        reflog = delta
        show = delta
[delta]
        plus-style = "syntax #012800"
        minus-style = "syntax #340001"
        syntax-theme = Monokai Extended
        navigate = true
[interactive]
        diffFilter = delta --color-only
[color]
        ui = true
[core]
        autocrlf = input
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[github]
	user = bms-1984
