emacs/.emacs.d/*
!emacs/.emacs.d/init.el
gnupg/.gnupg/*
!gnupg/.gnupg/gpg.conf
!gnupg/.gnupg/gpg-agent.conf
zsh/.config/zsh/*
!zsh/.config/zsh/.zshrc
!zsh/.config/zsh/.zprofile
!zsh/.config/zsh/.zshenv
!zsh/.config/zsh/.p10k.zsh
